{% extends 'base.htm.j2' %}
{% block content %}

<script type="text/javascript">
	traceJSON({{ course_obj|tojson }});
</script>

<div class="page-header">
	<h2>Course Information</h2>
</div>

{% if course_obj.course_start_at %}
<p>Course Start: {{ course_obj.formatted_start }}</p>
{% endif %}

{% if course_obj.course_end_at %}
<p>Course End: {{ course_obj.formatted_end }}</p>
{% endif %}

<h2>{{ list_length }} {{ assignment_type.title() }} in your course:</h2>

<ul>
{% for item in item_list %}
	{% if assignment_type == 'assignments' %}
	<li>{{ item.name }}</li>
	{% else %}
	<li>{{ item.title }}</li>
	{% endif %}

{% endfor %}
</ul>

<h1>Select when you want your first {{ assignment_type }} to start.</h1>

<div id="date_select_form"></div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/js/select_date.js') }}"></script>

{% endblock content %}