{% extends 'base.htm.j2' %}
{% block content %}

<h1>Date Change Success!</h1>

{% for item in canvas_obj_list %}
<p>{{ item }}</p>
{% if assignment_type == "discussions" %}
<p>Due At: {{ item.lock_at }}</p>
{% else %}
<p>Due At: {{ item.due_at }}</p>
{% endif %}
{% endfor %}

<!-- <div id="calendar"></div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/js/calendar.js') }}"></script> -->

{% endblock content %}