{% extends 'base.htm.j2' %}
{% block content %}

<p>You made it to the assign page</p>
<form action="{{ url_for('process_complete', _external=True) }}" >
{% for date in date_list %}
<p>{{ date }}</p>
<select value="{{ item_list[idx] }}">
{% for item in item_list %}
{% if assignment_type == 'assignments' %}
	<option>{{ item.name }}</option>
	{% else %}
	<option>{{ item.title }}</option>
	{% endif %}
{% endfor %}
</select>
{% endfor %}
</form>

{% endblock content %}