{% extends 'base.htm.j2' %}
{% block content %}

<p>You made it to Date selection</p>
<p>{{ course_obj }}</p>

<h1>Select when you want your first {{ selection }} to start.</h1>

<form action="{{ url_for('assign_dates', _external=True) }}" id="select_start" method="POST">
	<label>
		Due Date: <input type="date" name="date_select" id="date_select" required>
	</label>
	<label>
		Due Time: <input type="time" name="time_select" id="time_select" value="23:59" required>
	</label>
	<label>
		Repetitions: <input type="number" name="repetitions" id="repetitions" min="0" max="{{ list_length - 1 }}" value="{{ list_length - 1 }}" id="repetitions" required>
	</label>
	<input type="submit" value="Submit" />
</form>

<h2>{{ list_length }} {{ assignment_type.title() }} in your course:</h2>

<ul>
{% for item in item_list %}
	{% if assignment_type == 'assignments' %}
	<li>{{ item.name }}</li>
	{% else %}
	<li>{{ item.title }}</li>
	{% endif %}

{% endfor %}
</ul>

{% endblock content %}